.hero-unit
{
    padding: 15px;
}

.title
{
    font-size: 20px;
    color: #0e90d2;
}

.questions
{
    margin-left: 80px;
}

.table tr
{
    min-height: 120px;
    height: 120px;
}

.votes
{
    background-color: #eeeeee;
    width: 70px;
    height: 80px;
    float: left;
}

.votes1
{
    background-color: #fff;
    width: 70px;
    height: 80px;
    float: left;
}

.textRight
{
    text-align: right;
}

.comments
{
    font-size: 12px;
}

.commentsSize
{
    width: 50%;
    max-width: 60%;
    height: 100px;
    max-height: 100px;
}

.profilePicture
{
    height: 200px;
    background-color: #fff;
}

.formatPicture
{
    float: left;
    box-shadow: 3px 3px 3px #888;
    margin-right: 7px;
}

.bubble
{
    display: none;
    position: relative;
    margin-top: 2px;
    padding: 0 10px;
    border-radius: 2px;
    background-color: #999999;
    box-shadow: 1px 1px 5px rgba(0,0,0,.2);
    color: #ffffff;
}