.hero-unit
{
    padding: 15px;
}

.title
{
    font-size: 20px;
    color: #0e90d2;
}

.questions
{
    margin-left: 80px;
}

.votes
{
    background-color: #eeeeee;
    width: 70px;
    height: 80px;
    float: left;
}
