.hero-unit
{
    padding: 15px;
}

.title
{
    font-size: 20px;
    color: #0e90d2;
}

.questions
{
    margin-left: 80px;
}

.votes
{
    background-color: #eeeeee;
    width: 70px;
    height: 80px;
    float: left;
}

.votes1
{
    background-color: #fff;
    width: 70px;
    height: 80px;
    float: left;
}

.textRight
{
    text-align: right;
}

.comments
{
    font-size: 12px;
}
